<div class='overlay'>
  <div class='Window'>
    <div class="HorizontalLayout">
      <!--<app-list [height]="'381px'"></app-list>
      <app-list [height]="'381px'"></app-list>-->
      <app-list [height]="'100%'"></app-list>
      <app-list [height]="'100%'"></app-list>
      <div class="VerticalLayout">
        <button (click)="onWatch()">Watch User Canvases</button>
        <button>Add</button>
        <button>Delete</button>
        <button (click)="onExit()">EXIT</button>
        <button (click)="onDelete()">DELETE THIS USER</button>
      </div>
    </div>
  </div>
</div>