<html>
  <head></head>
  <body>
    <div class='overlay'>
      <div class='Window' style="flex-direction: row">
        <div class="VerticalLayout">
          <app-canvas
            [redrawEvent]="redrawEvent.asObservable()"
            [cleanEvents]="cleanEvent.asObservable()"
            [resolution]="params.resolution"
            [changeResolutionEvents]="changeResolutionEvent.asObservable()">
          </app-canvas>
          <app-transforms
            (move)="onMove($event)"
            (scale)="onScale($event)"
            (rotate)="onRotate($event)"
            style="display: inline-block; align-self: center;">
          </app-transforms>
        </div>
        <div>
          <app-group-box [name]="'Resolution:'">
            <select [(ngModel)]="params.resolution_str" (change)="onChangeResolution()">
              <option>1280x720</option>
              <option>1120x630</option>
              <option>960x540</option>
              <option>800x450</option>
              <option>720x405</option>
              <option>640x360</option>
              <option>480x270</option>
              <option>320x180</option>
              <option>160x90</option>
              <option>{{params.resolution_str}}</option>
            </select>
          </app-group-box>
          <app-group-box [name]="'Draw Parametres:'">
            <div class="VerticalLayout">
              <select [(ngModel)]="draw_type" (change)="onChangeDrawType()">
                <option>Треугольный</option>
                <option>ZBuffer</option>
              </select>
              <div class="HorizontalLayout">
                <label style="line-height: 30px;">Mult: </label>
                <input  class="spinBox" type="number" min="1" max="32" step="1" [(ngModel)]="params.mult" (click)="onChangeMult()">
              </div>
            </div>
          </app-group-box>
          <app-group-box [name]="'GenLandscape Parameters:'">
            <app-group-box [name]="'Size:'" [styles]="{'display': 'inline-block'}">
              <input class="spinBox" style="width:80px" type="number" min="1" max="1025" step="1" [(ngModel)]="params.size" (click)="onChangeSize()">
            </app-group-box>
            <div class="HorizontalLayout">
              <app-group-box [name]="'Range:'">
                <input class="spinBox" style="height:20px;width:59px" type="number" min="1.0" max="1024" step="1" [(ngModel)]="params.range"  (click)="onChangeRange()">
              </app-group-box>
              <div style="display: flex; align-items: center;">
                <input *ngIf="params.smooth" style="height:15px;width:15px;" type="checkBox" checked (click)="onChangeSmooth()">
                <input *ngIf="!params.smooth" style="height:15px;width:15px;" type="checkBox" (click)="onChangeSmooth()">
                <label style="line-height:15px;">Smoothing</label>
              </div>
            </div>
            <app-group-box [name]="'Color:'" [styles]="{'display': 'inline-block'}">
              <div style="display:flex; flex-direction: row;">
                <input class="ColorBox" [style.background]="params.color_hex"/>
                <!--<input type="color" class="ColorBox" [style.background-color]="params.color_style" [value]="" value="#000000"/>-->
                <button style="height:31px; width:71px" [(colorPicker)]="params.color_hex" (colorPickerSelect)="onChangeColor()">Choose</button>
              </div>
            </app-group-box>
            <div style="display: flex; flex-direction: column; align-items: center; gap: 10px; margin-top: 10px;">
              <button (click)="onGenerate()">GenerateNewLandscape</button>
              <button (click)="onClean()">Clean Canvas</button>
            </div>
          </app-group-box>
        </div>
        <div class='VerticalLayout'>
          <app-list [list]="canvases" (select)="onCanvasSelect($event)"></app-list>
          <input [(ngModel)]="params.canvas_name" (change)="onChangeCanvasName()">
          <button (click)="onSend()">Send Canvas to DB</button>
          <button (click)="onLoad()">Load Canvas</button>
          <button (click)="onUpdate()">Update Canvas</button>
          <button (click)="onDeleteCanvas()">Delete Canvas</button>
          <button (click)="onExit()">EXIT</button>
          <button (click)="onDelete()">DELETE THIS USER</button>
        </div>
      </div>
    </div>
  </body>
</html>