/*:root {
	--color_white: #ffffff;
	--color_border: #414141;
	--color_black: #000000;
	--color_gray: #4c4c4c;
	--color_background: #5c5c5c;
	--color_line_select: #bfd9fa;
	--color_line_click: #7fb4f5;
	--color_button_selection: #53657a;
	--color_button_pressed: #7d98b7;
}
.text_style_text_12 {
	font-size:12px;
	font-family:"Segoe UI";
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-transform:none;
}
.text_style_text_9 {
	font-size:9px;
	font-family:"Segoe UI";
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-transform:none;
}
*/