canvas {
    background-color: white;
    border-width: 1px;
    border-color: #414141;
    align-self: safe center;
}

.Prokrutka {
    border: 1px solid #414141; /* размер и цвет границы блока */
    display: flex;
    /*justify-content: center; /*left right*/
    /*align-items: center; /*top bottom*/
    justify-content: safe center;
    align-items: safe center;
    margin: auto;
    overflow: auto;
}