canvas {
    background-color: white;
    border-width: 1px;
    border-color: #414141;
    align-self: center;
}

.Prokrutka {
    border: 1px solid #414141; /* размер и цвет границы блока */
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}